<?xml version="1.0"?>
<model>
  <name>Conveyor Belt</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Warehouse Robot Project</name>
    <email></email>
  </author>
  <description>
    Simple conveyor belt with a ROS 2 velocity-controlled belt joint.
    Publish std_msgs/Float64 to /conveyor/velocity to set belt speed (m/s).
  </description>
</model>
